body {
    margin: 0;
  }

  .header-bar {
    background-color: #333;
    color: #fff;
    display: flex;
    justify-content: space-between;
    padding: 1.2em;
    
  }
  .header-bar-link {
    display: inline-block;
    margin-left: 1em;
  }

  .header-bar a, .header-bar-link {
    color: #fff;
    text-decoration: none;
    transition: color 0.2s ease-in-out;
    font-size: 1.3em;
    
  }

  .header-bar a:hover,.header-bar-link:hover {
    color: #cb7dff;
  }

  .left a {
    color: #fff;
    text-decoration: none;
  }

  .right {
    display: flex;
  }

  .right a {
    color: #ffffff;
    text-decoration: none;
    margin-left: 1em;
  }
  

  @media screen and (max-width: 700px) {
    .left {
      font-size: 2.5vw;
    }

    .right {
      font-size: 2.5vw;
    }
    .header-bar-link {
      display: inline-block;
      margin-left: 1em;
    }
  }