body {
    margin: 0;
  }

  .header-bar {
    background-color: #333;
    color: #fff;
    display: flex;
    justify-content: space-between;
    padding: 1.2em;
  }

  .header-bar ul {
    display: flex;
    list-style: none;
    margin: 0;
    padding: 0;
  }

  .header-bar li {
    margin-right: 20px;
  }

  .header-bar a {
    color: #fff;
    text-decoration: none;
    transition: color 0.2s ease-in-out;
    font-size: 1.3em;
  }

  .header-bar a:hover {
    color: #f2f2f2;
  }

  .left a {
    color: #fff;
    text-decoration: none;
  }

  .right {
    display: flex;
  }

  .right a {
    color: #ffffff;
    text-decoration: none;
    margin-left: 1em;
  }

  @media screen and (max-width: 700px) {
    .left {
      font-size: 2.5vw;
    }

    .right {
      font-size: 2.5vw;
    }
  }