---
import Layout from "../layouts/Layout.astro";
import NavBar from "../components/NavBar.astro";
import Footer from "../components/Footer.astro";

import "../styles/about.css"
---

<Layout title="About">
  <NavBar />
  <main>
    <div class="grid">
      <div class="column">
        <img src="/ClaireKim_cardphoto.jpg" alt="headshot" />
      </div>
      <div class="column">
        <h1 class="text-gradient">About Me</h1>
        <p class="instructions">
          Hello, I'm <strong>Claire (Gyu-Ri) Kim.</strong> Welcome to my website! <br/>
          <br/>

          I'm currently studying computer engineering at McMaster University
          where I went learned topics in data structure and algorithms,
          circuit design, and computer architecture. <br/>
          <br/>

          Currently, my interests include robotics, embedded systems, and machine
          learning. On the side, I also love doing various arts and design, mainly focusing on digital works. <br/>

          
          <br />
        </p>
      </div>
    </div>
  </main>

  <Footer />
</Layout>


