---
import Layout from "../layouts/Layout.astro";
import NavBar from "../components/NavBar.astro";
import Footer from "../components/Footer.astro";

import "../styles/about.css";
---

<Layout title="About">
  <NavBar />
  <main></main>
</Layout>

<Footer />
