---
import { Image, getImage } from "astro:assets";

export interface Props {
  title: string;
  body: string;
  href: string;
  imageSrc: string;
}

const { href, title, body, imageSrc } = Astro.props;
---

<div class="link-card" style={{ backgroundImage: `url(${imageSrc})` }}>
  <a href={href}>
    <h2>
      {title}
    </h2>
  </a>
</div>

<style>
  .link-card {
    position: relative;
    list-style: none;
    display: flex;
    padding: 0.55em;
    background-color: white;
    background-image: none;
    background-size: 100%;
    border-radius: 0.6em;
    background-position: 100%;
    box-shadow: 0 4px 6px -1px rgba(0, 0, 0, 0.1),
      0 2px 4px -2px rgba(0, 0, 0, 0.1);
  }

  .link-card > a {
    position: relative;
    width: 100%;
    text-decoration: none;
    line-height: 5;
    border-radius: 0.35em;
    color: #000000;
    background-color: rgba(255, 255, 255, 0.4);
    opacity: 1;
  }

  .link-card:hover,
  .link-card:focus-within {
    transform: translateY(-0.5em);
  }

  .link-card > a > h2 {
    margin: 0.5em;
    font-size: clamp(1.1rem, 2vw, 1.5rem);
    font-weight: 600;
    text-align: center;
  }

  p {
    margin: 0.5em;
    color: #444;
  }

  @media screen and (max-width: 700px) {
    .link-card {
      background-size: small;
    }
}


</style>
