---
import { Image, getImage } from 'astro:assets';

export interface Props {
	title: string;
	body: string;
	href: string;
	imageSrc: string;
}

const { href, title, body, imageSrc } = Astro.props;
---

<li class="link-card" style={{ backgroundImage: `url(${imageSrc})` }}>
	<a href={href}>
	  <h2>
		{title}
	  </h2>
	</a>
  </li>
  
  <style>
	.link-card {
		position:relative;
		list-style: none;
		display: flex;
		padding: 0.55rem;
		background-color: white;
		background-image: none;
		background-size: 100%;
		border-radius: 0.6rem;
		background-position: 100%;
		transition: background-position 0.6s cubic-bezier(0.22, 1, 0.36, 1);
		box-shadow: 0 4px 6px -1px rgba(0, 0, 0, 0.1), 0 2px 4px -2px rgba(0, 0, 0, 0.1);
	}
  
	.link-card > a {
		position: relative;
		width: 100%;
		text-decoration: none;
		line-height: 5;
		border-radius: 0.35rem;
		color: #000000;
		background-color: rgba(255, 255, 255, 0.400);
		opacity: 1;
	}
  
	.link-card:hover,
	.link-card:focus-within {
		transform: translateY(-10px);
	}

	.link-card:hover .image-container,
	.link-card:focus-within .image-container {
		transform: scale(1.2);
	}

	.link-card > a > h2 {
		margin: 0.5rem;
		font-size: 1.50rem;
		text-align: center;
	}

	p {
		margin: 0.5rem;
		color: #444;
	}

	.link-card span {
		margin-left: 5px;
	}
  </style>