---
import { Image, getImage } from "astro:assets";
import "../styles/NavBar.css"
---
<div class="header-bar">
  <div class="left">
    <a href="/">Home</a>
  </div>
  <div class="right">
    <a href="/about/">About</a>
    <a href="https://cgkim.notion.site/Claire-Kim-6b38e1f739f54e139733775a8746f40a">Projects</a>
    <a href="https://drive.google.com/drive/u/0/folders/1nYmkS-FT3o7VLnXKV2TH9ziblQ78MQno">Artworks</a>
    <span class="header-bar-link">Contact</span>
  </div>
</div>